* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration-line: none;

}

.header {
    margin: 0 auto;
    text-align: left;
    background-color: #CCCCCC;
    padding-top: 1%;
    padding-bottom: 1%;

}


body {
    background-color: #FEFFFF;
    font-family: 'Lora', serif;
    line-height: 16px;
    margin: 0 auto;
    padding-top: 0px;
    border: 0;

}

.tekstas {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.tekstas h3 {
    text-align: center;
    color: #FEFFFF;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    font-family: 'Lora', serif;
    margin: 0 auto;
}

.tekstas p {
    text-align: center;
    color: #FEFFFF;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Lora', serif;
    font-size: 18px;
    margin: 0 auto;
}


#basicExampleNav {
    font-size: 20px;
    background-color: #CCCCCC;
    color: rgba(109, 104, 117, 1);
    text-align: left
}

#basicExampleNav a {
    font-size: 16px;
    color: rgba(109, 104, 117, 1);
}

#basicExampleNav a:hover {
    color: #FEFFFF;
    text-decoration-line: none;
}

.navbar {
    background-color: #CCCCCC;
    font-size: 16px;
    color: rgba(109, 104, 117, 1);

}


.dropdown-item {
    color: rgba(109, 104, 117, 1);
    background-color: #CCCCCC;

}

.dropdown-item:hover {
    background-color: #CCCCCC;
    color: rgba(109, 104, 117, 1);

}


.dropdown-menu {
    text-decoration: none;
    color: rgba(109, 104, 117, 1);
    background-color: #CCCCCC;
}


nav ul {
    display: inline;
    list-style: none;
}


nav li {
    display: inline;
    margin-right: 10%;
    margin-left: 40%;
    position: relative;
}


.logo {
    width: 180px;
    height: 35px;
    position: relative;
    top: 1px;
    margin: 0 auto;
    text-align: left;
    display: inline-grid;
    padding-left: 20px;

}

img {

    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.flip {
    padding: 10%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.flip img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.flip .back {
    background-color: rgba(109, 104, 117, 1);
    color: #080808;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10%;
    line-height: 1.6;
    margin: 0 auto;


}

.flip a {
    color: red;
    text-decoration-line: none;
}


div#main {
    width: 830px;
    height: 500px;
    margin: 0 auto;
    font-family: 'Lora', serif;
    color: rgba(109, 104, 117, 1);
}

div#form_sample {
    text-align: center;
    border: 1px solid #ccc;
    width: 800px;
    padding: 0 50px 15px;
    margin-top: 20px;
    border-radius: 6px;
    float: left
}

#main h1 {
    margin-top: 40px
}

hr {
    margin-top: -5px
}

label {
    float: left;
    font-size: 16px
}

input[type="text"] {
    width: 100%;
    margin-top: 10px;
    height: 35px;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid #CCCCCC;
}

textarea {
    width: 100%;
    border: 3px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    height: 100px;
    resize: none
}

input[type="submit"] {
    width: 100%;
    padding: 10px 45px;
    background-color: #CCCCCC;
    border: none;
    color: rgba(109, 104, 117, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Lora', serif;
}

input[type="submit"] a:hover {
    color: #FEFFFF;
}

/* -------------------------------------
CSS for Sidebar (optional)
---------------------------------------- */
div#fugo {
    float: right
}

.paskambinkite {
    width: 100%;
    line-height: 1.3em;
    font-size: 35px;
    font-weight: 100;
    font-family: 'Lora', serif;
    text-align: center;
    color: #6D6875;
}

.paskambinkite a:hover {
    color: rgba(181, 131, 141, 1);
    font-size: 35px;
    text-decoration-line: none;
}


.footer {
    width: 100%;
    padding: 40px;
    background-color: #CCCCCC;
    color: #fff;

}

a {
    text-decoration: none;
    color: rgba(109, 104, 117, 1);
    font-size: 30px;
}

/*Taisyklės autorystei  */
.Loreta p {
    text-align: center;
    font-size: 18px;

}

.auksciau {
    width: 100%;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #383838;
    text-align: justify;
    color: whitesmoke;
}

.apatine {
    width: 100%;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: black;
    color: whitesmoke;
    text-align: justify;
}

footer p {
    line-height: 1.2;
    font-size: 12px;
    text-align: left;

}

footer a {
    color: whitesmoke;
    padding: 0.3em;
    text-decoration-line: none;
    font-size: 25Px;
}

.socialiniai {
    color: whitesmoke;
    padding: 0.3em;
    text-decoration-line: none;
    font-size: 30Px;
}

.socialiniai a:hover {
    color: rgba(181, 131, 141, 1);
    font-size: 30Px;
    text-decoration: none;
}

.kontaktai a {
    line-height: 1.3em;
    font-size: 16px;
    font-family: 'Lora', serif;
}


.kontaktai fa-phone {
    font-size: 30px;

}

.fab {
    font-size: 30px;

}

.kontaktai p:hover {
    color: rgba(181, 131, 141, 1);
    font-size: 30px;
    text-decoration: none;
}

.kontaktai a:hover {
    color: rgba(181, 131, 141, 1);
    font-size: 16px;
    text-decoration: none;
}


footer a:hover {
    color: rgba(181, 131, 141, 1);
    font-size: 16px;
    text-decoration: none;
}

.p metai {
    text-align: right;

}

/* ================================= 
  Media Queries
==================================== */
@media (min-width:320px) {
    video {
        width: 400px;
        height: 200px;

    }

    nav li {
        display: inline;
        margin-right: 0 auto;
        margin-left: 0%;
        position: relative;
    }


    div#main {
        width: 330px;
        height: 500px;
        margin: 0 auto;
        font-family: 'Lora', serif;
        color: rgba(109, 104, 117, 1);
    }

    div#form_sample {
        text-align: center;
        border: 1px solid #ccc;
        width: 330px;
        padding: 0 50px 15px;
        margin-top: 20px;
        border-radius: 6px;
        float: left
    }

    .paskambinkite {
        line-height: 1.3em;
        font-size: 35px;
        font-weight: 100;
        font-family: 'Lora', serif;
        text-align: center;
        color: #6D6875;
    }
}

@media (min-width:481px) {

    video {
        width: 500px;
        height: 300px;

    }

    nav li {
        display: inline;
        margin-right: 0 auto;
        margin-left: 0;
        position: relative;
    }


    div#main {
        width: 400px;
        height: 500px;
        margin: 0 auto;
        font-family: 'Lora', serif;
        color: rgba(109, 104, 117, 1);
    }

    div#form_sample {
        text-align: center;
        border: 1px solid #ccc;
        width: 400px;
        padding: 0 50px 15px;
        margin-top: 20px;
        border-radius: 6px;
        float: left
    }

    .paskambinkite {
        line-height: 1.3em;
        font-size: 35px;
        font-weight: 100;
        font-family: 'Lora', serif;
        text-align: center;
        color: #6D6875;
    }

}

@media (min-width: 576px) {

    video {
        width: 600px;
        height: 400px;

    }

    nav li {
        display: inline;
        margin-right: 0 auto;
        margin-left: 0;
        position: relative;
    }


    div#main {
        width: 600px;
        height: 500px;
        margin: 0 auto;
        font-family: 'Lora', serif;
        color: rgba(109, 104, 117, 1);
    }

    div#form_sample {
        text-align: center;
        border: 1px solid #ccc;
        width: 600px;
        padding: 0 50px 15px;
        margin-top: 20px;
        border-radius: 6px;
        float: left
    }

    .paskambinkite {
        line-height: 1.3em;
        font-size: 35px;
        font-weight: 100;
        font-family: 'Lora', serif;
        text-align: center;
        color: #6D6875;
    }

}


@media (min-width: 768px) {

    video {
        width: 800px;
        height: 400px;

    }

    nav li {
        display: inline;
        margin-right: 0 auto;
        margin-left: 0;
        position: relative;
    }

    div#main {
        width: 800px;
        height: 500px;
        margin: 0 auto;
        font-family: 'Lora', serif;
        color: rgba(109, 104, 117, 1);
    }

    div#form_sample {
        text-align: center;
        border: 1px solid #ccc;
        width: 800px;
        padding: 0 50px 15px;
        margin-top: 20px;
        border-radius: 6px;
        float: left
    }

    .paskambinkite {
        line-height: 1.3em;
        font-size: 35px;
        font-weight: 100;
        font-family: 'Lora', serif;
        text-align: center;
        color: #6D6875;
    }

}

@media (min-width: 992px) {

    video {
        width: 1000px;
        height: 600px;

    }

    nav li {
        display: inline;
        margin-right: 10%;
        margin-left: 40%;
        position: relative;
    }

    div#main {
        width: 800px;
        height: 500px;
        margin: 0 auto;
        font-family: 'Lora', serif;
        color: rgba(109, 104, 117, 1);
    }

    div#form_sample {
        text-align: center;
        border: 1px solid #ccc;
        width: 800px;
        padding: 0 50px 15px;
        margin-top: 20px;
        border-radius: 6px;
        float: left
    }

    .paskambinkite {
        line-height: 1.3em;
        font-size: 35px;
        font-weight: 100;
        font-family: 'Lora', serif;
        text-align: center;
        color: #6D6875;
    }
}
